body{
    margin-top: 20px;
    background-color: white;
    font-family: 'Roboto Condensed', sans-serif;
    /* font-family: 'Crimson Text', serif; */
    /* font-family: Arial, sans-serif;
    font-family: 'Lugrasimo', cursive; */
    /* font-family: 'Nunito', sans-serif; */
    /* font-family: 'Oswald', sans-serif;
    font-family: 'Roboto Condensed', sans-serif; */
    color: white;
    overflow-x: hidden;
}
#navbar {
    background-color:var(--nav-background-color); 
    /* background-color: #588c7e; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white;
}

.logo a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color:var(--links-hover);
}
h1{
    text-align: center;
    margin-bottom: 50px;
    color: rgb(51, 153, 255)

    ;
}
main{
    background-color:black;
    color: green;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.name-container{
    background-color: green;
    width: 850px;
    height: 450px;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 80px;
    margin-right: 10px;
    gap: 140px;
   
}


.name-container.omada .text{
    color: black;
}
.text{
    max-width: 270px;
    margin-top: 10px;
    color: rgb(11, 10, 10);
    line-height: 1.8;
    
}
.image>img{
    height: 400px;
    width: 300px;
    margin-top: 35px;
    margin-left: 10px;
}
.bot{
    font-size: 30px;
    cursor: pointer;
    font-family: 'Lugrasimo', cursive ;
}
.info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 150px;
    margin-bottom: 150px;
    margin-left: auto;
    margin-right: auto;
}
#tolu-section{
    margin-top: 50px;
    margin-left: 20px;
}
.hidden{
    display: none;
}





.footer {
    margin-top: 30px;
    background-color: var(--nav-background-color);
    color: var( --footer-text-color);
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 0 20px;
}

.footer-logo a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.footer-links {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
}

.footer-links li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
}

.footer-text {
    margin: 0;
    font-size: 12px;
    opacity: 0.7;
}